@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Geist", "sans-serif";
    --font-secondary: "Manrope", "sans-serif";
    --color-accent: #04e762;
    --breakpoint-3xl: 120rem;
    --breakpoint-4xl: 160rem;

}

html,
body {
    @apply bg-black text-white;
}

p {
  @apply lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl;
}

h2 {
    @apply font-black text-white/55 text-lg lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl uppercase;
  }

h3 {
  @apply font-black text-lg lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl uppercase;
}

label {
  @apply text-xs lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl font-secondary whitespace-nowrap;
}