@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Lexend Tera", "sans-serif";
    --color-blue: #00bbf9;

}

html,
body {
    @apply bg-black text-white;
}

.subtitle {
    @apply font-black text-white/50 text-xl;
  }

/* @font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/Oswald.woff2") format("woff2");
  } */