@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Geist", "sans-serif";
    --font-secondary: "Manrope", "sans-serif";
    --color-accent: #c200fb;
    --breakpoint-3xl: 120rem;
    --breakpoint-4xl: 160rem;

}

html,
body {
    @apply bg-black text-white;
}

p {
  @apply lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl;
}

h2 {
    @apply font-black text-white/55 lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl;
  }

h3 {
  @apply font-black lg:text-xl xl:text-2xl 2xl:text-3xl 3xl:text-4xl;
}

label {
  @apply lg:text-base xl:text-lg 2xl:text-xl 3xl:text-2xl font-secondary whitespace-nowrap;
}
/* @font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/Oswald.woff2") format("woff2");
  } */